#header {
    text-align: center;
    margin-bottom: 40px;
}

#information {
    margin: 10px 0px;
}

#main_links {
    float: left;
}

#main_links a {
    line-height: 150%;
}

#main_links img {
    border: solid 1px #add8e6;
}

#albums {
    float: left;
    width: 80%;
    padding-left: 80px;
}